<IfModule mod_rewrit.c>
    RewriteEngine on
	RewriteBase /
	RewriteCond %{HTTP_HOST} ^www.killer_games.com
	RewriteRule (.*) https://killer_games.com/$1 [R=301,L]
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
	RewriteRule ^index\.html$ https://killer_games.com/ [R=301,L]
	
</IfModule>

ServerSignature off
AddDefaultCharset UTF-8

RewriteRule ^regis$ regis.html [NC,L]