
 body{
    
	
 }	

article {
	
}

#wf{
	
	
		margin-top: 100px;
		margin-right: 750px;
	    text-align:right;
	font-size: 2.0vw;
}
#nwo{
	
	
	    margin-bottom: 100px;        
		margin-left: 750px;
	    text-align:left;
	font-size: 1.8vw;
}