header {
	
	border: 1px solid red;
	background-color: #343434;
	width: 99%;
	padding: 1%;
	color: white;
	border-bottom: 5px solid #59595a;
	height: 4%;
	font-family: 'Roboto Slab', serif;
}
   
header>div#logo>a>img {
	width: 79px;
	height: 68px;
	float: left;
	border: 1px solid red;
	margin-top: -8px
}

header>div#logo>a {
 
 color: white;
}

header>div#logo>a>span { 
   
   font-size: 3.2em;
   margin-left: 10px;
   font-family: 'Suez One', serif;
   border: 1px solid red;
}

header>div#logo>a>img { 
  margin-left: 0%;
}
   
#logo {
	margin-top: -13px;
}

#about {
	 display: inline;
	 float: left;
     width: 40%;
	 border: 1px solid red;
}

#reg_auth {
	 display: inline;
     float: right;
     width: 30%;
	 margin-top: -60px;
	 border: 1px solid red;
}

#about {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.2em;
	margin-top: -58px;
	margin-left: 28%;
	margin-right: 45%;
	border: 1px solid red;
}

#about>a {
	color: white;
} 

#about>a:hover {
	color: #dfdfdf;
	border-bottom: 1px solid silver;
}

#about>a:last-child {
	margin-left: 10%;
}
#reg_auth>a {
	color: white;
}

.btn:hover {
	border-bottom: 2px solid rgba(217, 91, 72, 1);
	margin-top: 3px;
}

.btn:active {
	border-bottom: 0;
	margin-top: 9px;
}

.btn {
	float: right;
	margin-right: 3%;
	margin-bottom: 7px;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 1.8em;
	background-color: rgba(236, 101, 80, 1);
	text-shadow: #454545 0 0 2px;
	border-bottom: 4px solid rgba(217, 91, 72, 1);
	font-family: 'Roboto Slab', serif;
	color: white;
}
  

	




















