
 

article {
	border: 1px solid red;
	height: 100%;
}

#wf{
	
	
	height: 100%;	
	margin-left: 10%;
	border: 1px solid red;
	font-size: 2.0vw;
}
#nwo{
	height: 100%;
	margin-left: 10%;
	border: 1px solid red;
	    
	font-size: 1.8vw;
}