@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Slab|Suez+One');

* {
	margin: 0px;
	padding: 0px;
}

body, html {
	width: 100%;
	height: 100%;  
}

body {
	background-color: #F7F5F7;
}

a {
	 color: #fa713e;
	 text-decoration: none;
	 transition: all.6s ease;
	-ms-transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
}

a:hover {
	color: #c34f25;
	text-decoration: none;
	transition: all.6s ease;
	-ms-transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;	
	-ms-transition: all .6s ease;
}


img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	-ms-transition: all.3s ease;
	-o-transition: all.3s ease;
	-moz-transition: all.3s ease;
	-webkit-transition: all.3s ease;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px soid #ccc;
	margin: 1em 0;
	padding: 0;
}

.conten {
	flex-grow: 1 0 auto;

}

#wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
