footer {
	float: left;
	padding-left:5%;
	border: 1px solid red;
	background-color: #343434;
	width: 99%;
	padding: 1%;
	color: white;
	border-top: 5px solid #59595a;
	font-family: 'Roboto Slab', serif;
	border: 1px solid red;
	}
	
#cont {
	color: green;
	border: 1px solid red;	
	
}

#social {
	padding-left:5%;
	border: 0px solid red;
}

#site_name{
	margin-right: 5%;
	color: #f4f4f4;
	font-size: 1.5em;
	float: right;
	border: 1px solid red;
	
}
#site_name>span {
	font-family: 'Suez One', serif;
}


#clear {
	
}

#footer_menu{
   border: 1px solid red;
	font-size: 1.2em;	
}
#footer_menu>a {
	margin-left:2%;
	color: #f4f4f4;
	
	
}
#footer_menu>a:hover, #right>a:hover {
	border-bottom: 0px solid silver;
	color: #aeaeae;
	
}

#rights{
	float: left;
	margin-left: 0%;
	font-size: 1.1em;
	padding: 0.5%;
	border: 1px solid red;
	margin-top: 36px;
}
#rights>a{
	color: white;
}
#social {
	float: right;
	width: 77%;
	margin-right: 5%;
	margin-top: 10px;
	border: 1px solid red;
	padding: 0.5%;
}

#social>a {
    
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #343434;
	margin-left: 2%;
	white: 30px;
	height: 30px;
	float: right;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 1.7em;
	border: 1px solid red;
}
#social>a:hover {
	padding: 0.4%;
	background-color: rgba(217, 91, 72, 1);
}