
 body{
    
	
 }	

article {
	border: 1px solid red;
}

#wf{
	
	
		margin-bottom: 21px;
	float: left;
	text-align: center;
	margin-left: 10%;
	border: 1px solid red;
	font-size: 2.0vw;
}
#nwo{
	
	margin-bottom: 21px;
	float: left;
	text-align: center;
	margin-left: 10%;
	border: 1px solid red;
	    
	font-size: 1.8vw;
}