a {
	text-decoration:none;

}

section {
	display:block;
}

li{
	 list-style-type:none;
}

.macros {
	text-align:center;
	font-size: 1.2em;
	border: 1px solid red;
	float: left;
	margin: 10px;
	padding:5px;
	min-height:270px;
	width:200px;
	height:270px;
	color:#0bcbd0;
}

.macros-image{
	background-image:url(../images/product/warface-product.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:100%;
	height:60%;
	border:1px solid blue;
}

.macros-buy{
	margin-top:30px;	
}

.macros-button{
	transition:0.5s all;
	border:1px solid #0bcbd0;
}
.macros-button:hover{
	background-color:#0bcbd0;
	color:white;
}